<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1>Créditos</h1>

<a href="/">Inicio</a>
<a href="/author">Créditos</a>

<p>
    Esta práctica ha sido desarrollada por Laura Gallego Menéndez.
</p>

<img src="/images/LAURA.jpg" />

</body>
</html>

