<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1>Créditos</h1>

<a href="/">Inicio</a>
<a href="/author">Créditos</a>
<a href="/help">Ayuda</a>


<p>
    Esta práctica ha sido desarrollada por Laura Gallego Menéndez.
</p>
<a href="https://github.com/lgmenendez/quiz_2017">URL del repositorio GitHub donde se alojará esta práctica</>

<img src="/images/LAURA.jpg" width="300" height="450" alt="Laura Gallego Menéndez" />

</body>
</html>

