<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h1>Ayuda</h1>

<a href="/">Inicio</a>
<a href="/author">Créditos</a>
<a href="/help">Ayuda</a>


<p>
QUIZ
Un quiz es un tipo de juego de mente, concurso o competencia de preguntas en el cual los jugadores intentan responder en forma correcta una serie de preguntas.
    
</p>


</body>
</html>
